html {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #323234;
  color: whitesmoke; }

* {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 10px auto;
  padding: 20px auto; }

.header__logo {
  width: 100px;
  display: flex;
  justify-content: center; }
  .header__logo img {
    width: 100%;
    margin: auto; }

.header h1 {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  font-size: xx-large;
  padding: 0 5px;
  margin: 0 1px; }

.navbar {
  background-image: linear-gradient(to bottom, #2f4ccc 90%, transparent 100%);
  text-decoration: none;
  text-transform: uppercase;
  font-size: medium;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s; }
  .navbar div li a {
    color: whitesmoke; }
    .navbar div li a:hover {
      color: orange;
      text-decoration: underline;
      text-transform: uppercase;
      font-size: medium; }

.dropdown-item {
  color: black !important; }

.navbar-brand {
  color: whitesmoke; }

.carousel-caption {
  bottom: 45%; }

.clases {
  background-color: #2f4ccc;
  padding-top: 1%;
  padding-bottom: 40%;
  width: 100%;
  margin-bottom: 5%; }
  .clases p {
    text-align: center; }

.clases__grid {
  width: 100%;
  margin: auto;
  padding: 4%;
  display: grid;
  grid-row-gap: 1%;
  grid-column-gap: 4%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 100px);
  grid-template-areas: "indoor" "funcional" "abd" "fight_do" "axe" "hiit" "gap" "power_bars" "zumba" "musculacion" "power_local" "x55"; }
  .clases__grid > div {
    display: flex;
    justify-content: center;
    align-items: inherit; }
  .clases__grid a {
    color: whitesmoke;
    font-size: 1.8em;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .clases__grid a:hover {
      opacity: 0.5;
      transform: scale(1.1); }
    .clases__grid a span:hover {
      transform: scale(1.3); }

.clases__indoor {
  grid-area: indoor; }
  .clases__indoor a {
    background-image: url("../assets/clases/01-indoor.jpg");
    background-size: 100% auto; }

.clases__funcional {
  grid-area: funcional; }
  .clases__funcional a {
    background-image: url("../assets/clases/02-funcional.jpg");
    background-size: 100% auto; }

.clases__abd {
  grid-area: abd; }
  .clases__abd a {
    background-image: url("../assets/clases/03-abd.jpg");
    background-size: 100% auto; }

.clases__fight_do {
  grid-area: fight_do; }
  .clases__fight_do a {
    background-image: url("../assets/clases/04-fightdo.jpg");
    background-size: 100% auto; }

.clases__axe {
  grid-area: axe; }
  .clases__axe a {
    background-image: url("../assets/clases/05-axe.jpg");
    background-size: 100% auto; }

.clases__hiit {
  grid-area: hiit; }
  .clases__hiit a {
    background-image: url("../assets/clases/06-hiit.jpg");
    background-size: 100% auto; }

.clases__gap {
  grid-area: gap; }
  .clases__gap a {
    background-image: url("../assets/clases/07-gap.jpg");
    background-size: 100% auto; }

.clases__power_bars {
  grid-area: power_bars; }
  .clases__power_bars a {
    background-image: url("../assets/clases/08-powerbars.jpg");
    background-size: 100% auto; }

.clases__zumba {
  grid-area: zumba; }
  .clases__zumba a {
    background-image: url("../assets/clases/09-zumba.jpg");
    background-size: 100% auto; }

.clases__musculacion {
  grid-area: musculacion; }
  .clases__musculacion a {
    background-image: url("../assets/clases/10-musculacion.jpg");
    background-size: 100% auto; }

.clases__power_local {
  grid-area: power_local; }
  .clases__power_local a {
    background-image: url("../assets/clases/11-powerlocal.jpg");
    background-size: 100% auto; }

.clases__x55 {
  grid-area: x55; }
  .clases__x55 a {
    background-image: url("../assets/clases/12-x55.jpg");
    background-size: 100% auto; }

.video__container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; }

.video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.horarios {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: space-around; }
  .horarios p {
    text-align: center;
    text-transform: none; }
  .horarios div {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-bottom: 4%; }
  .horarios .tabla {
    background-color: black;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    max-width: 75%; }

.tabla tr td {
  border-top: 1px;
  border-color: orange;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none; }

.contacto__grid {
  width: 100%;
  margin: auto;
  padding: 1% 4% 4% 4%;
  background-color: #2f4ccc;
  display: grid;
  grid-row-gap: 1%;
  grid-column-gap: 4%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "mapa mapa" "formulario formulario"; }

.map__container {
  grid-area: mapa;
  position: relative;
  overflow: hidden;
  padding-top: 75%; }

.form {
  grid-area: formulario;
  display: flex;
  padding: 2% 4%;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .form label {
    width: 100%; }
  .form div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
    padding-top: 3%;
    font-size: larger; }
  .form input {
    display: inline-block;
    width: 100%; }
  .form span {
    font-weight: 800;
    font-size: x-large; }

.contacto {
  background-color: #2f4ccc;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap; }

.map__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.redes {
  background-color: #323234;
  margin: auto;
  position: relative; }

.cont_redes div img {
  display: flex;
  width: 100%; }

.frases {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(0.65rem + 1vw);
  font-weight: 200;
  backdrop-filter: blur(14px) brightness(80%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%; }
  .frases span {
    padding: 0 1%; }
  .frases .calidad {
    color: black;
    font-weight: bold; }

.footer {
  background-color: #323234;
  text-transform: uppercase;
  display: flex;
  flex-flow: column nowrap;
  font-size: 12px;
  align-items: center;
  position: relative;
  bottom: 0;
  margin-top: 1%; }
  .footer h3 {
    font-size: calc(0.75em + 1vw); }
  .footer small {
    display: flex;
    margin: 1% 1%; }

.footer__items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  flex: auto;
  margin: 5px auto;
  text-align: center; }
  .footer__items div {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    border-top: 1px solid whitesmoke;
    flex: auto;
    margin: 5px auto;
    text-align: center; }
    .footer__items div ul li img {
      width: 55%; }
  .footer__items ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
  .footer__items a {
    color: whitesmoke;
    text-decoration: none;
    font-size: calc(0.3em + 1vw);
    margin: auto; }
  .footer__items p {
    color: whitesmoke;
    text-decoration: none;
    font-size: calc(0.3em + 1vw);
    margin: auto; }

.footer__logo img {
  width: 25%;
  margin: auto; }

.portal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-content: flex-start; }
  .portal h2 {
    text-decoration: underline;
    margin: 8% 0 2% 0;
    padding: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.portal__items {
  grid-area: items;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex: 1; }

.portal__runner {
  grid-area: runner;
  display: none; }

.portal__ropes {
  grid-area: ropes;
  display: none; }

.ingreso__items ul li {
  display: flex;
  font-style: italic;
  font-size: large;
  padding-left: 2%;
  justify-content: flex-start; }

.ingreso__items h3 {
  font-size: x-large; }

.ingreso__form input {
  display: flex;
  color: whitesmoke;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  font-weight: inherit;
  text-transform: uppercase;
  background-color: orange; }

.portal__img img {
  width: 100%;
  margin: auto; }

.thank_you {
  padding-left: 2%; }

@media (min-width: 481px) {
  .clases__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 300px);
    grid-template-areas: "indoor funcional" "abd fight_do" "axe hiit" "gap power_bars" "zumba musculacion" "power_local x55"; }
  .clases {
    padding-bottom: 15%; }
  .footer__items {
    flex-flow: row nowrap; }
    .footer__items div {
      border-top: none;
      border-right: 1px solid whitesmoke; }
  .footer__logo img {
    width: 40%; }
  .portal {
    margin: auto;
    width: 100%; } }

@media (min-width: 768px) {
  .clases__grid {
    grid-row-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 300px);
    grid-template-areas: "indoor funcional abd" "fight_do axe hiit" "gap power_bars zumba" "musculacion power_local x55"; }
  .clases {
    padding-bottom: 5%; }
  .contacto__grid {
    grid-row-gap: 4%;
    grid-template-areas: "mapa formulario" "mapa formulario"; }
  .portal {
    margin: auto;
    width: 100%;
    font-size: larger; }
  .portal__runner {
    display: flex;
    width: 100%;
    margin: auto; }
  .portal__ropes {
    display: flex;
    width: 100%;
    margin: auto; } }

/*# sourceMappingURL=style.css.map */